@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}

:root {
  color-scheme: dark;
}

body {
  background-color: #111111;
  color: #dddddd;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
